<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HomeDash</title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(HomeDashWeb.Endpoint, "/assets/app.css")}>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(HomeDashWeb.Endpoint, "/assets/app.js")}></script>
  </head>
  <body class="min-h-screen bg-gray-100 p-6">
    <header class="max-w-screen-lg mx-auto mb-4">
      <h1 class="text-2xl font-bold">HomeDash</h1>
    </header>
    <main class="max-w-screen-lg mx-auto">
      <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <%= @inner_content %>
      </div>
    </main>
  </body>
</html>
